:root{
    --body-bg: #2288ee;
}

*{
    box-sizing: border-box;
}

body{
    background: var(--body-bg);
    margin: 0;
    padding: 0;
    height: 100vh;
}

header{
    height: 5%;
    font-size: calc(5vh - 8px);
    padding: 4px;
    font-weight: bold;
    animation: szoveg-vibral 3s linear infinite;
}

@keyframes szoveg-vibral {
    70%{color: black}
    80%{color: red}
    90%{color:black}
}

footer{
    height: 3%;
}

main{
    background-color: black;
    border-radius: 8px;
    height: 92%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#geptarolo{
    height: 67%;
    display: grid;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    grid-template-columns: 25vw 40vw;
}

#uborkatarolo{
    position: relative;
}

#uborka{
    height: auto;
    width: 25vw;
    cursor: grab;
    position: absolute;
    top: 0;
    left: 0;
}

#uborkaszeletelogeped{
    height: auto;
    width: 40vw;
}

.szelet{
    position: fixed;
    height: 50px;
    width: auto;
    transform: translate(-50%, -50%);
    transition: 1s;
}